// text colors
$header-color: rgb(68, 30, 68);
$done-color: rgb(160, 160, 160);

// background colors
$bg-tasks: rgb(253, 248, 248);
$border-color: rgb(15, 15, 15);
$btn-border-color: rgb(206, 96, 133);